<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
If you have any kind of problem or any queries regarding the website you can send me a mail on my Email_Id:<b>nitanhsu1991@gmail.com</b> 
</p>
To know more about her click on the pic <div align="right"><%= link_to image_tag("1.jpg", alt: "sorry"), 'http://www.google.com/' %></div>