<% provide(:title, 'Help') %>
<h1>Help</h1>
<p>
Hi this is nitanshu verma
If you have any kind of problem or any queries regarding this website you can send me a mail on my Email_Id:<b>nitanhsu1991@gmail.com</b> and i will reply to your queries. Thank you
</p>
