<footer class="footer">
<small>developed & crafted by
<a href="localhost:3000/users">Nitanshu Verma</a>

</small>
<nav>
<ul>
<li><%= link_to "About", about_path %></li>
<li><%= link_to "Contact", contact_path %></li>
<li><a href="http://news.railstutorial.org/">News</a></li>
</ul>
</nav>
</footer>